.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
                    width: 16px;
	height: 16px;
	background: url(images/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}
.jssora11l, .jssora11r {
	display: block;
	position: absolute;
	/* size of arrow element */
                    width: 37px;
	height: 37px;
	cursor: pointer;
	background: url(images/a11.png) no-repeat;
	overflow: hidden;
}
.jssora11l {
	background-position: -11px -41px;
}
.jssora11r {
	background-position: -71px -41px;
}
.jssora11l:hover {
	background-position: -131px -41px;
}
.jssora11r:hover {
	background-position: -191px -41px;
}
.jssora11l.jssora11ldn {
	background-position: -251px -41px;
}
.jssora11r.jssora11rdn {
	background-position: -311px -41px;
}

.sort-hd{ margin:15px 0px;padding:8px 0; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.sort-hd li{ list-style:none; display:inline-block; margin:0; padding:0 40px 0 0 }
.sort-hd li i{ padding:0 5px;}
.product-item{ box-sizing:border-box; padding-bottom:20px; background:#ebedec; margin:0 0 30px 0;}
.hd-icons{width:100%; display:inline-block;}
.pro-icons{ cursor:pointer; background:url(../images/product-icons.jpg) no-repeat; width:54px; height:54px; display:inline-block; text-indent:-9999px;}
.like-icon{ background-position:0px 0px}
.revert-icon{background-position:-54px 0px; margin-left:2px;}
.cart-icon{ margin:0 0 0 0; float:right;background-position:-108px 0px}
.like-icon:hover{ background-position:0px -54px}
.revert-icon:hover{background-position:-54px -54px; margin-left:2px;}
.cart-icon:hover{ margin:0 0 0 0; float:right;background-position:-108px 0px}
.pro-detail{ text-align:center} 
.pro-image{ padding:20px 0;}
.pro-image img{ width:auto; max-width:100%;}
.pro-name{font-size:16px; }
.pro-rate-cut{font-size:16px; text-decoration:line-through;}
.pro-rate-discount{font-size:22px; }
.finance{font-size:12px; }
.pro-padding{ padding:3px 0;}
